.image-404{
  width: 50%;
  margin-bottom: 2rem;
}

.text-404{
  font-weight: bold;
  font-size: 1.5rem;
}

.center{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.background-white{
  background-color: $workshop-psn2-blanc;
}

.container-background{

}