#footer {
  background-color: $workshop-psn2-noir;
  color: $workshop-psn2-blanc;
  padding: 2rem 2rem 2rem;
  margin: 0;
  font-family: 'Anek Telugu', sans-serif;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
}