a {
  font-family: 'Libre Baskerville', serif;
}

h1, h2 {
  text-align: center;
  font-family: 'New Century Schoolbook', cursive;
}

.container-front-page {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bienvenue {
  padding: 8rem;
  background-color: #E1C699;
  color: $workshop-psn2-blanc;
}

.bienvenue h1 {
  color: $workshop-psn2-blanc;
}

.exemple-fake-news {
  background-color: #FFF;
  color: #E1C699;
  margin-bottom: 5rem;
}

.exemple-fake-news h2 {
  color: #E1C699;
}

.card-fake-news {
  text-align: center;
}

.exemple-fake-news img {
  width: 30%;
  padding: 1rem 5rem;
}

.list-bouton {
  padding: 4rem;
  background-color: #E1C699;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}