a {
    font-family: 'Libre Baskerville', serif;
} 

h1{
    font-family: 'New Century Schoolbook', cursive;
    color: white;
}
.bienvenue {
    padding : 100px auto;
    background-color: #E1C699;
    color: #FFF;
}
.exemple{
    background-color: #FFF;
    color: #E1C699;
    margin-bottom: 5rem;
}
.bouton{
    background-color:#E1C699;
}