a {
    font-family: 'Libre Baskerville', serif;
}

h1, h2 {
  text-align: center;
  font-family: 'New Century Schoolbook', cursive;
}

.container-front-page {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bienvenue {
  padding: 8rem;
  background-color: $workshop-psn2-orange;
  color: $workshop-psn2-blanc;
}

.bienvenue h1 {
  color: $workshop-psn2-blanc;
}

.exemple-fake-news {
  background-color: #FFF;
  color: $workshop-psn2-orange;
  margin-bottom: 5rem;
}

.exemple-fake-news h2 {
  color: $workshop-psn2-orange;
}

.card-fake-news {
  text-align: center;
}

.exemple-fake-news img {
  width: 30%;
  padding: 1rem 5rem;
}

.list-bouton {
  background-color: #E1C699;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.no-decoration{
  text-decoration: none;
}

.no-decoration:hover{
  .link{
    color: #E1C699 ;
    height: 11rem;
    width: 11rem;
    margin: 0.1rem;
  }
}

.front-page-link{
  margin: auto;
  vertical-align: middle;
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
}

.link{
  margin: 0.6rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-color: $workshop-psn2-noir;
  color: $workshop-psn2-blanc;

}

