#header {
  padding: 1rem;
  display: flex;
  background-color: var(--secondary);
  align-content: center;
  align-items: center;
}

#header .logo-Fake-News-Academy {
  display: flex;
  align-content: center;
  align-items: center;
}


#logo {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 0.5rem;
}

.navbar {
  display: block;
  flex-grow: 1;
}

.navbar ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  padding: 0.5rem 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: $workshop-psn2-noir;
  transition: color 0.3s ease-in-out;

}

.navbar ul li a:hover {
color: $workshop-psn2-orange;
}