.full-page-search {
  background-color: #D68C29;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 72px - 2rem - 5.2rem);
  min-height: min-content;
  overflow: auto;
}

.full-button-search{
  transition: all 0.2s ease-in-out;
  padding:0.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
  margin-right: 0;
  border-radius: 0 2rem 2rem 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border: none;
  z-index:4;
  color: $workshop-psn2-blanc;
}

.form-center{
  margin: auto;
  width: 100%;
}

.full-input-search{
  border-radius: 2rem 0 0 2rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border: none;
  z-index: 5;
  text-align: center;
  height: 5rem;
  width: 30rem;
  font-size: 2.5rem;
  transition: width 0.4s ease-in-out;
  outline:  none;
}

.full-input-container:hover {
  .input-search {
    width: 100%;
  }
}
.full-input-search:focus{
  width: 100%;
}


.full-button-search:hover{
  background-color: $workshop-psn2-blanc;
  color: $workshop-psn2-orange;
}