// Fichier regroupant l'ensemble des variables SCSS
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@400;700&family=Cinzel+Decorative:wght@400;700&display=swap');

$workshop-psn2-gris: #373737;
$workshop-psn2-orange: #D68C29;
$workshop-psn2-blanc: #F6F6F6;
$workshop-psn2-noir: #232323;
